@import "../../styles";

body{
  background-image: url("../../assets/black-linen.png");
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 15px;
  width: 100%;
  color: darkgrey;

}


i {
  font-size: 25px;
  color: white;
  padding: 5px;
  color: darkgrey;
  ;
}

i:hover {
  border-bottom: 0.5px solid gray;
}

//small screen styles
#medium {
  display: none;
  }

.nav {
  @include display-flex;
  width: 100%;
  align-items: baseline;
  background-color: $light-copper;
  background-image: url("../../assets/black-linen.png");
  box-shadow: 2px 2px 4px black;
}

.openbtn span{
  display: none;
}
.openbtn {
  text-align: center;
}

.big-top-nav{
  display: flex;
}

.top-nav{
  margin: 10px;
  display: flex;
  align-items: center;
}

.categories {
  & p{
    font-size: 25px;
    background-color: gray;
    padding: 15px 25px;
    border-bottom: 1px solid black;
  }
  a:hover{
    color: white;
  }
}

a {
  text-decoration: none;
  color: $link-text;
  &.title:hover {
    color: $link-text;
  }
  &:hover {
    color: $link-hover-text;
  }
}

.search, .openbtn {
  font-size: 15px;
  color: $small-link-text;
}


//The start of the MODAL

.btn {
  text-transform:uppercase;

  &.closebtn {
    padding: 5px 10px;
    border-bottom: 1px solid black;
  }
  &.openbtn {
    padding: 20px;

    &:hover {
      box-shadow: 0 5px 5px 0px rgba(0,0,0,0.4);
    }
  }
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
  padding: 20px;
}

.modal-content {
  background: $plate-blue;
	width: 90vw;
  height: 65vh;
	position: relative;
	margin: 0 0;
	padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  hr {
    margin-top: 10px;
  }
  input {
    margin-bottom: 17px;
    height: 35px;
    font-size: .75em;
    padding: 10px;
    width: 100%;
  }
  .create {
    height: 45%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    h4 {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .btn {
      text-align: center;
      padding: 10px;
      font-size: .75em;
      width: 70px;
    }
  }
  .login {
    @extend .create;
    width: 100%;
  }
}

.modal:target {
	opacity:1;
	pointer-events: auto;
}

#close {
  display:none;
}
//end of MODAL

//medium screen styling
@media screen and (min-width: $medium-media-query) {

  #medium {
    border-top: .5px solid black;
    display: flex;
    background-color: $copper;
    box-shadow: 2px 2px 4px black;
    justify-content: center;
    h4{
      margin: 0 3vw;
      padding: 1px;
    }
    h4:hover{
      padding: 0;
      border-bottom: 1px solid gray;
    }
  }

  p {
    display: flex;
  }

  div {
    padding: 10px;
    width: 100vw;
    @include display-flex;
  }

  .big-top-nav {
    width: 50vw;
    align-items: center;
    justify-content: flex-end;
  }

  div.big-top-nav{
    padding: 0;
  }

  .categories {
    display: none;
  }

  .big-bottom-nav {
    display: none;
  }

  .top-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
  }

  div:nth-child(2) {
    align-self: center;
    justify-content: flex-start;
  }

  .nav {
    align-items: center;
    background-color: $light-copper;
    background-image: url("../../assets/black-linen.png");
    box-shadow: 2px 2px 4px black;
  }

  i{
    font-size: 25px;
  }

}
