<div class="nav">
  <div class="big-bottom-nav">
    <i class="fa fa-bars" aria-hidden="true" (click)="categoryClick()"></i>
  </div>

  <div class="top-nav">
    <h1><a class="title" routerLink="" (click)="categoryClick('oneway')">MANTHROPOLOGIE</a></h1>
  </div>

  <div class="big-top-nav">
    <div class="top-nav">
      <p class="search"><i class="fa fa-search" aria-hidden="true"></i></p>
    </div>

    <div class="top-nav">
      <p *ngIf="!user"><a href="#modal-one" class="btn openbtn"><span>Login</span><i class="fa fa-user" aria-hidden="true"></i>
      </a></p>
      <a *ngIf="user" href="#close"><button type="button" name="button" (click)="logout()">logout</button></a>
    </div>

  </div>
</div>

<div class="categories" *ngIf="display">
  <p><a routerLink="clothing" (click)="categoryClick()">Clothing</a></p>
  <p><a routerLink="shoes-accessories" (click)="categoryClick()">Shoes/Accessories</a></p>
  <p><a routerLink="furniture" (click)="categoryClick()">Furniture</a></p>
  <p><a routerLink="grooming" (click)="categoryClick()">Grooming</a></p>
  <p *ngIf="admin"><a routerLink="admin" (click)="categoryClick()">Product List</a></p>
</div>

<div class="medium">
  <h4><a routerLink="clothing" (click)="categoryClick()">Clothing</a></h4>
  <h4><a routerLink="shoes-accessories" (click)="categoryClick()">Shoes/Accessories</a></h4>
  <h4><a routerLink="furniture" (click)="categoryClick()">Furniture</a></h4>
  <h4><a routerLink="grooming" (click)="categoryClick()">Grooming</a></h4>
  <h4 *ngIf="admin"><a routerLink="admin">Product List</a></h4>
</div>

<!-- This is the modal -->
<div class="modal" id="modal-one">
  <div class="modal-content">
    <a href="#close"><button type="button" name="button">x</button></a>
    <div class="login">
      <h4>Login</h4>
      <input type="text" [(ngModel)]="username" placeholder="Email Address">
      <input type="password" [(ngModel)]="password" placeholder="Password">
      <a href="#close" class="btn closebtn" (click)="login()">Login</a>
    </div>
    <hr>
    <div class="create">
      <h4>Create Account</h4>
      <input type="text" [(ngModel)]="newUsername" placeholder="Email Address">
      <input type="password" [(ngModel)]="newPassword" placeholder="Password">
      <a href="#close" class="btn closebtn" (click)="createAccount()">Create</a>
    </div>
  </div>
</div>
