<div class="container">
  <h4 id="footer-title">This project was created by the following Epicodus students:
  </h4>
  
    <div class="student-descriptions">
      <div class="student-names">
        <h4>Adam Titus</h4>
        <p>Description</p>
      </div>
      <div class="student-names">
        <h4>Susanna Lowe</h4>
        <p>Description</p>
      </div>
      <div class="student-names">
        <h4>Jessie Waite</h4>
        <p>Description</p>
      </div>
      <div class="student-names">
        <h4>Rakhee Gandhi</h4>
        <p>Description</p>
      </div>
    </div>
</div>
