@import "../../styles";
@import url('https://fonts.googleapis.com/css?family=Limelight|Special+Elite');

.student-descriptions{
  display: flex;

  .student-names{
    width: 25%;
  }
}
#footer-title{
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Limelight', cursive;
}

.container{
  height: auto;
  background-color: $header-color;
}

h4{
  font-size: 18px;
}
