@import "../../styles";


.container{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: 100000;
}

.container{
  background-color: $header-color;
  background-image: url("../../assets/black-linen.png");
  border-top: 1px solid black;
}

.student-descriptions{
  display: flex;

  .student-names{
    width: 25%;
  }
}
#footer-title{
  margin-bottom: 10px;
  font-size: 15px;
}

p{
  font-size: 10px;
}


h4{
  font-size: 12px;
}
