<div class="top-container">

  <div class="container">
    <div class="top-banner">
      <h2>Shop Gifts</h2>
      <h3>30% off our favorite holiday items</h3>

    </div>

    <div class="carousel-wrapper">

      <span id="item-1"></span>
      <span id="item-2"></span>
      <span id="item-3"></span>

      <div class="carousel-item item-1">
        <div class="carousel-item-description">
          <h2>BOLDR Chronograph Watch</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan pretium dolor vel convallis.</p>
        </div>
        <a class="arrow arrow-prev" href="#item-3"></a>
        <a class="arrow arrow-next" href="#item-2"></a>
      </div>

      <div class="carousel-item item-2">
        <div class="carousel-item-description">
          <h2>Timberland Men's Boots</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
        <a class="arrow arrow-prev" href="#item-1"></a>
        <a class="arrow arrow-next" href="#item-3"></a>
      </div>

      <div class="carousel-item item-3">
        <div class="carousel-item-description">
          <h2>meraki men's care trio</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
        <a class="arrow arrow-prev" href="#item-2"></a>
        <a class="arrow arrow-next" href="#item-1"></a>
      </div>


    </div>

    <div class="bottom-banner">
      <img src="../../assets/wood-1.jpg" alt="Wood Background" class="wood-background">
      <!-- <img src="../../assets/furniturechair2.gif" alt="chair" class="chair"> -->
    </div>


  </div>

  <div class="feature">
    <div class="feature-box">
      <a routerLink="furniture" (click)="categoryClick()"><h3>Shop Furniture</h3></a>
    </div>
    <div class="feature-box">
      <a routerLink="shoes-accessories" (click)="categoryClick()"><h3>Shop Shoes and Accessories</h3></a>
    </div>
  </div>

  <div class="feature">
    <img src="../../assets/sweater1.jpg" alt="sweater">
    <img src="../../assets/boots2.jpg" alt="sweater">
  </div>

</div>
