@import "../../styles";

html {
  height: 100%;
}

app-splash {
  height: 100%;
  width: 100%;
}

h3{
  color: $copper;
}

.top-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.top-banner{
  text-align: center;
  background-color: $top-banner-color;
  padding: 40px;
  box-shadow: $box-shadow;
}

.carousel-wrapper{
  height:85vh;
  position:relative;
  width:100%;
  margin:0 auto;
}
.carousel-item {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;
}

.carousel-item-description {
  position: absolute;
  background-color: $carousel-item-description-bg;
  padding: 40px;
  text-align: center;
  width: 80%;
  h2{
    margin: 20px;
  }
}
.arrow{
  position:absolute;
  top:0;
  display:block;
  width:50px;
  height:100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
}

.arrow-prev{
  left:0;
}

.arrow-next{
    right:0;
    -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
  }

.light{
  color:white;
}

[id^="item"] {
    display: none;
  }

.item-1 {
  z-index: 2;
  opacity: 1;
  background:url("../../assets/accessorieswatch3.jpg");
  background-size:cover;
  background-position: center;
  }
.item-2{
  background:url("../../assets/boots2.jpg");
  background-size:cover;
  background-position: center;
}
.item-3{
  background:url("../../assets/grooming1.jpg");
   background-size: cover;
   background-position: top;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }

.wood-background {
  position: relative;
  width: 100%;
  height: 55vh;
}

.chair{
  position: absolute;
  z-index: 2;
  width: 65vw;
  height: 45vh;
  top: 103vh;
  left: 15vw;
}

.feature{
  display: none;
}


@media screen and (min-width: $small-media-query){

  .container{
    display: flex;
    flex-direction: row;
    height: 50vh;
    overflow: hidden;
  }

  .top-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    padding: 5px;
    h1{
      font-size: 20px;
    }
    h3{
      font-size: 15px;
    }
  }

  .carousel-wrapper {
    width: 50%;
    height: 100%;
  }

  .bottom-banner{
    width: 40%;
    height: 100%;
    overflow: hidden;
    box-shadow: $box-shadow; 
  }

  .carousel-item-description{
    padding: 10px;
    width: 60%;
  }

  .feature{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .feature-box {
    display: block;
    background-color: $feature-box-color;
    background-image: url("../../assets/black-linen.png");
    width: 46%;
    padding: 40px;
    text-align: center;
    margin: 5px;
  }

  .feature img{
    width: 50%;
    height: 60vh;
  }

}

@media screen and (min-width: $large-media-query){

  .container, .feature{
    max-width: 1550px;
    max-height: 817px;
  }

}
