@import "../../styles";

.container{
  margin: $footer-margin;
}

.list-options{
  margin: 10px 0;
}

.list-options-title, .drop-down{
  padding: 10px;
}

.list-options-title {
  background-color: $browse-box-color;
  font-size: 15px;
}


.product-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ghost{
  background-color: white;
  margin: 20px 0;
  p{
    padding: 0 10px;
  }
  .product-name{
    border-top: 1px solid black;
  }
}


.product{
  height: 100%;
  position: relative;
  margin: 2% 0;
  // background-color: blue;
}

img {
  height: 300px;
  position: relative;

}

.hover-shop-link {
  display: none;
  position: absolute;
  z-index: 2;
  margin: -2vh 0;
  background-color: $hover-shop-link-color;
  width: 100%;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
}

.product:hover {
  .hover-shop-link{
    display: block;
  }
}

select{
  appearance: none;
  background-color: $hover-shop-link-color;
  border: none;
  border-bottom: 2px solid gray;
  border-radius: 0px;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  &:focus {
      box-shadow: 0 3px 4px rgba(gray, 0.3) inset;
      // outline is critical for usability
      outline: 1px solid gray;
      outline-offset: -#{1px}; //offset vs width
    }
    &:hover{
      outline: 3px solid $eggshell-blue;
    }
}

// Product display area end

@media screen and (min-width: $small-media-query){

  .container{
    @include display-flex;
    flex-wrap: wrap;
    flex-direction:row;
  }

  .top{
    width: 20%;
  }

  .list-options{
    width: 100%;
    // border: 1px solid $browse-box-border-color;
  }

  .list-options-title{
    border-bottom: 1px solid $browse-box-border-color;
  }

  .product-display{
    width: 75%;
    margin-left: 15px;
  }

  .drop-down {
    border: none;
    padding-left: 20px;
  }

  .ghost{
    width: 32%;
    display: flex;
    justify-content: center;
  }

  img{
    width: 100%;
  }

  .product{
    height: 100%;
    position: relative;
    margin: 2% 0;
  }

  .product-display{
    height: 100%;
  }

  .hover-shop-link {
    margin: -1.5vh 0;
  }
}

@media screen and (min-width: $large-media-query){

  .ghost{
    width: 23%;
    height: 380px;
    position: relative;
    margin: 2% 0;
  }

  .product{
    height: 300px;
  }

}

@media screen and (min-width: $xlarge-media-query){

  .big-container{
    display: flex;
    justify-content: center;
  }

  .container{
    max-width: 1550px;
    max-height: 817px;
  }

  .product-display{
    height: 350px;
  }



}
