<div class="big-container">

  <div class="container">

    <div class="top">
      <!-- <div class="list-options">
      <p class="list-options-title">Browse by:</p>
      <p class="drop-down">Dresses</p>
    </div> -->
    <div class="list-options">
      <p class="list-options-title">Sort by Price:</p>
      <select [(ngModel)]="priceSorted">
        <option value="low-high">Lowest to Highest</option>
        <option value="high-low">Highest to Lowest</option>
      </select>
    </div>
    <div class="list-options">
      <p class="list-options-title">Filter by Price:</p>
      <select [(ngModel)]="priceWanted">
        <option value="all">All</option>
        <option value="low">Under $50</option>
        <option value="mid">$50 - $100</option>
        <option value="high">Over $100</option>
      </select>
    </div>
  </div>
  <!-- <div class="list-options">
  <p>page 1/4</p>
</div> -->



<!-- <h3>Clothing</h3> -->
<div class="product-display">

  <div class="ghost" *ngFor="let product of products | async | price:priceWanted | sort:priceSorted">
    <div class="product" *ngIf="category.pathname === product.type">
      <!-- <div class="not-product"> -->
        <!-- <div class="product"> -->
          <img src="{{product.images[0]}}" alt="Product Image" (click)="goToDetailPage(product)">
          <p class="hover-shop-link" (click)="addToBasket(product.$key)">Add to Basket</p>
          <p class="product-name" (click)="goToDetailPage(product)">{{product.title}}</p>
          <p class="product-price" (click)="goToDetailPage(product)">${{product.price}}</p>
          <p *ngIf="popup === product.$key">Added to Basket!</p>
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
</div>
