<div class="big-container" *ngIf="category.pathname != '/admin'">

  <div class="container" *ngIf="category.pathname != '/'">

    <div class="top">
        <div class="list-options">
        <p class="list-options-title">Browse by:</p>
        <p class="drop-down">Dresses</p>
      </div>
      <div class="list-options">
        <p class="list-options-title">Sort by:</p>
        <p class="drop-down">Placeholder Brand</p>
        <p class="drop-down">Placeholder Style</p>
        <p class="drop-down">Etc.</p>
      </div>
      <div class="list-options">
        <p class="list-options-title">Filter by:</p>
        <p class="drop-down">Placeholder Price</p>
        <p class="drop-down">Placeholder Size</p>
        <p class="drop-down">Etc.</p>
      </div>
    </div>
    <!-- <div class="list-options">
      <p>page 1/4</p>
    </div> -->



    <!-- <h3>Clothing</h3> -->
    <div class="product-display" *ngIf="category.pathname === '/clothing'">
      <div class="product">
        <img src="../../assets/accessorieswatch1.jpeg" alt="Product Image">
        <p class="hover-shop-link">Add to Cart</p>
        <p class="product-name">Product Name Text</p>
        <p class="product-price">Product Price Text</p>
      </div>

      <div class="product">
        <img src="../../assets/accessorieswatch3.jpg" alt="Product Image">
        <p class="hover-shop-link">Add to Cart</p>
        <p class="product-name">Product Name Text</p>
        <p class="product-price">Product Price Text</p>
      </div>

      <div class="product">
        <img src="../../assets/boots2.jpg" alt="Product Image">
        <p class="hover-shop-link">Add to Cart</p>
        <p class="product-name">Product Name Text</p>
        <p class="product-price">Product Price Text</p>
      </div>

      <div class="product">
        <img src="../../assets/furniturechair2.gif" alt="Product Image">
        <p class="hover-shop-link">Add to Cart</p>
        <p class="product-name">Product Name Text</p>
        <p class="product-price">Product Price Text</p>
    </div>

    <div class="product">
      <img src="../../assets/grooming1.jpg" alt="Product Image">
      <p class="hover-shop-link">Add to Cart</p>
      <p class="product-name">Product Name Text</p>
      <p class="product-price">Product Price Text</p>
    </div>

    <div class="product">
      <img src="../../assets/sweater1.jpg" alt="Product Image">
      <p class="hover-shop-link">Add to Cart</p>
      <p class="product-name">Product Name Text</p>
      <p class="product-price">Product Price Text</p>
    </div>

    <div class="product">
      <img src="../../assets/sweater1.jpg" alt="Product Image">
      <p class="hover-shop-link">Add to Cart</p>
      <p class="product-name">Product Name Text</p>
      <p class="product-price">Product Price Text</p>
    </div>

    <div class="product">
      <img src="../../assets/sweater1.jpg" alt="Product Image">
      <p class="hover-shop-link">Add to Cart</p>
      <p class="product-name">Product Name Text</p>
      <p class="product-price">Product Price Text</p>
    </div>

  </div>

</div>
