<div class="container">
  <div class="product-display">

    <div class="product-form">
      <input type="text" [(ngModel)]="title" placeholder="Product Title">
      <input type="number" [(ngModel)]="price" placeholder="Product Price">
      <select type="text" [(ngModel)]="type">
        <option value="/clothing">Clothing</option>
        <option value="/shoes-accessories">Shoes/Accessories</option>
        <option value="/furniture">Furniture</option>
        <option value="/grooming">Grooming</option>
      </select>
      <input type="text" [(ngModel)]="image1" placeholder="Product Image 1">
      <input type="text" [(ngModel)]="image2" placeholder="Product Image 2">
      <input type="text" [(ngModel)]="image3" placeholder="Product Image 3">
      <textarea name="name" rows="8" cols="80" [(ngModel)]="description" placeholder="Product Description"></textarea>
      <button type="button" name="button" (click)="addProductClicked()">Add Product</button>
    </div>
    <div class="product-list" *ngFor="let product of products | async">
      <div class="product">
        <img src="{{product.images[0]}}" alt="Product Image">
        <p class="hover-shop-link" (click)="editProduct(product)">Edit</p>
        <p class="product-name" *ngIf="selectedProductId != product.$key">{{product.title}}</p>
        <p class="product-price" *ngIf="selectedProductId != product.$key">${{product.price}}</p>
        <p class="product-price" *ngIf="selectedProductId != product.$key"><small>{{product.description}}</small></p>
        <input type="text" [(ngModel)]="product.title" placeholder="Edit Product Title" *ngIf="selectedProductId === product.$key">
        <input type="number" [(ngModel)]="product.price" placeholder="Edit Product Price" *ngIf="selectedProductId === product.$key">
        <textarea name="name" rows="8" cols="80" [(ngModel)]="product.description" placeholder="Edit Product Description" *ngIf="selectedProductId === product.$key"></textarea>
        <button type="button" name="button" *ngIf="selectedProductId === product.$key" (click)="submitEdit(product.title, product.price, product.description)">Submit Edit</button>
        <button type="button" name="button" (click)="beginDeleteProduct(product)" *ngIf="selectedProductId != product.$key">Delete</button>
      </div>
    </div>
  </div>
</div>
