<div class="container">

  <div class="product-container" *ngIf="display === null">
    <img src="../../assets/sweater1.jpg">
  </div>
  <div class="product-container" *ngIf="display === 'wood1'">
    <img src="../../assets/wood-1.jpg">
  </div>
  <div class="product-container" *ngIf="display === 'boots2'">
    <img src="../../assets/boots2.jpg">
  </div>

  <div class="small-products">
    <img (click)="sliderMove('boots2')" class="small-product-image" src="../../assets/boots2.jpg">
    <img (click)="sliderMove('wood1')" class="small-product-image" src="../../assets/wood-1.jpg">
  </div>

  <div id="product-container">

    <h1>Product Title</h1>
    <h2>$135</h2>

    <div class="product-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

  <div class="selectMenu">
    <p>Size:</p>
    <select>
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
    </select>
    </div>

    <div class="selectMenu">
      <p>Qty:</p>
      <select>
        <option value="one">1</option>
        <option value="two">2</option>
        <option value="three">3</option>
        <option value="four">4</option>
        <option value="five">5</option>
      </select>
    </div>

  </div>
  <button type="submit">ADD TO BASKET</button>
  <a href="#">Add to Favorites</a>

</div>
