<div class="container">
  <div id="product-description">
      <div class="product-container" *ngIf="display === null">
        <img src="{{(productToDisplay | async)?.images[0]}}">
      </div>
      <div class="product-container" *ngIf="display === 'wood1'">
        <img src="{{(productToDisplay | async)?.images[1]}}">
      </div>
      <div class="product-container" *ngIf="display === 'boots2'">
        <img src="{{(productToDisplay | async)?.images[2]}}">
      </div>
      <div class="small-products">
        <img (click)="sliderMove(null)" class="small-product-image" src="{{(productToDisplay | async)?.images[0]}}">
        <img (click)="sliderMove('wood1')" class="small-product-image" src="{{(productToDisplay | async)?.images[1]}}">
        <img (click)="sliderMove('boots2')" class="small-product-image" src="{{(productToDisplay | async)?.images[2]}}">
      </div>

      <div id="product-container">
        <div class="description-container">
          <h2>{{(productToDisplay | async)?.title}}</h2>
          <h3>${{(productToDisplay | async)?.price}}</h3>
          <div class="product-description">
            {{(productToDisplay | async)?.description}}
          </div>
        <div class="selectMenu">

      <div class="selectMenu">
        <p>Qty:</p>
        <select [(ngModel)]="quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    <button type="button" (click)="addToBasket()">ADD TO BASKET</button>
    <p *ngIf="popup === productId">Added to Cart!</p>
  </div>
</div>

<!-- <p>Size:</p>
<select>
<option value="small">Small</option>
<option value="medium">Medium</option>
<option value="large">Large</option>
</select>
</div> -->
