@import "../../styles";

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: $footer-margin;
  padding: 50px;
}

.selectMenu{
  display: flex;
  align-items: baseline;
  p {
    margin: 0px;
  }
}

p{
  font-size: 20px;
  width: 50px;
  margin: 20px;
}

select {
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  white-space: nowrap;
  width: 100px;
}
.product-description{
  height: 100%;
  width: 100%;
  p {
    top: 10px;
  }
}

.product-container{
  width:100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: white;
  img{
    width: 100%;
    height: 100%;
  }
}

.small-products{
  display: flex;
  margin-top: 5px;
}

.small-product-image{
  width: 15vw;
  height: 15vw;
  margin: 5px 5px 0px 0px;
}

.alt-photo{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

button{
  height: 50px;
  width: 50%;
  background-color: $button-color;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  background-color: $mauve;
}

a{
  margin: 20px;
}

.description-container {
  background-color: white;
  margin-top: 10px;
  padding: 10px;
}

@media screen and (min-width: $medium-media-query){
  #product-description {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
  }
  .product-container{
    width: 38%;
    margin: 0 5px;
    img{
    }
  }

  .small-products{
    width: 10%;
    flex-direction: column;
    justify-content: space-around;
    order: -1;
    margin: 0;
    background-color: white;
    img{
      width: 100%;
      height: auto;
      margin: 0 0 5px 0;
    }
  }

  #product-container{
    width: 50%;
  }

  .description-container{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.product-description{
  height: auto;
}
}

.container{
  padding: 0;
  margin-top: 10px;
}

@media screen and (min-width: $xlarge-media-query){

.container{
  max-width: 1550px;
  min-width: 1000px;
  margin: 0 0 50px 0;
  display: flex;
}


}
