<div class="container">
  <div id="product-image">
    <img src="../../assets/sweater1.jpg">
  </div>
  <div id="product-description">
    <h1>Product Title</h1>
    <h2>$135</h2>
    <div class="selectMenu">
    <p>Size:</p>
    <select>
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
    </select>
    </div>
    <div class="selectMenu">
      <p>Qty:</p>
      <select>
        <option value="one">1</option>
        <option value="two">2</option>
        <option value="three">3</option>
        <option value="four">4</option>
        <option value="five">5</option>
      </select>
    </div>
    <button type="submit">Add to cart</button>

  </div>

</div>
