@import "../../styles";

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.checkout{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.items{
  width: 100%;
  border-bottom: 1px solid black;

}

.total{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total, .items{
  background-color: white;
  p, h4{
    margin: 10px;
  }
}

img{
  width: 50%;
}

button{
  height: 50px;
  width: 50%;
  background-color: $button-color;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  background-color: $mauve;
}

.basket-checkout{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img{
    height: 100%;
  }
  p{
    width: 100%;
    text-align: center;
    margin: 10px;
    color: white;
    font-size: 25px;
  }
  .empty-basket{
    color:white;
  }
}
