/* You can add global styles to this file, and also import other style files */
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:900|Catamaran:800,900|Montserrat:400,600|Palanquin+Dark:500');

$box-shadow: 2px 2px 3px black;

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

h1, h2 {
  font-family: 'Palanquin Dark', sans-serif;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

h3, h4 {
  text-transform: uppercase;
  font-weight: bold;
}

//colors:
$mauve: #5D413F;
$copper: #C38E6B;
$light-copper: #B46A4A;
$grey: #4F4A42;
$navy: #393A44;
$modal-background: goldenrod;
$eggshell-blue: #B9CBD9;
$plate-blue: #5A8CA3;
$suit-slate: #686871;
$lightest-blanket: #B89F77;
// $shirt: #9E916F;

$link-text: black;
$link-hover-text: black;
$small-link-text: blue;
$browse-box-color: #C38E6B;
$browse-box-border-color: black;
$hover-shop-link-color: rgba(211,211,211, 0.7);
$top-banner-color: #C38E6B;
$carousel-item-description-bg: rgba(211,211,211, 0.7);
$feature-box-color: #5D413F;
$header-color: #B46A4A;
$button-color: $lightest-blanket;
$footer-margin: 0 0 150px 0;

$small-media-query: 770px; //"tablet" - for screens sized between 770px and 1025px;
$medium-media-query: 1025px; //"laptop" - for screens sized between 1025px and 1320px;
$large-media-query: 1320px; //"large screeens" - for biggest screens
$xlarge-media-query: 1550px; //"large screeens" - for biggest screens

@mixin display-flex {
  display: flex;
  justify-content: space-around;
}
html {
  height: 100%;
  body {
    height: 100%;
    width: 100%;
    background-color: $navy;
    app-root {
      height: 100%;
      width: 100%;
      app-splash {
        height: 100%;
        width: 100%;
        background-color: blue;
      }
    }
  }
}

.container{
  padding: 15px;
}

a {
  color:$link-text;
  text-decoration: none;
}

a:hover {
  color: $link-hover-text;
}
//
// h1, h2, h3 {
//   @include barber-font1;
//   font-family: 'Jaapokki', sans-serif;
//   text-transform: capitalize;
// }
