/* You can add global styles to this file, and also import other style files */
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// @import url("./../../assets/jaapokki-regular.ttf");
// $Jaapokki: 'Jaapokki';

@mixin barber-font {
  @font-family {
    font-family: 'Jaapokki';
    line-height: 1.3em;
    src: url("./../../assets/jaapokki-regular.ttf") format("ttf");
  }
}

<<<<<<< HEAD
//colors:
$mauve: #5D413F;
$copper: #C38E6B;
$light-copper: #B46A4A;
$grey: #4F4A42;
$navy: #393A44;
// $eggshell-blue: #B9CBD9;
// $plate-blue: #5A8CA3;
// $suit-slate: #686871;
// $lightest-blanket: #B89F77;
// $shirt: #9E916F;

@mixin barber-font1 {
  @font-family {
    font-family: 'Jaapokki';
    line-height: 1.3em;
    src: url("/../../assets/jaapokki-regular.ttf") format("ttf");
  }
}

$link-text: black;
$link-hover-text: red;
$small-link-text: blue;
$browse-box-color: lightgray;
$browse-box-border-color: gray;
$hover-shop-link-color: rgba(211,211,211, 0.7);
$top-banner-color: pink;
$carousel-item-description-bg: rgba(211,211,211, 0.7);
$feature-box-color: pink;
$header-color: honeydew;

$small-media-query: 770px; //"tablet" - for screens sized between 770px and 1025px;
$medium-media-query: 1025px; //"laptop" - for screens sized between 1025px and 1320px;
$large-media-query: 1320px; //"large screeens" - for biggest screens
$xlarge-media-query: 1550px; //"large screeens" - for biggest screens

@mixin display-flex {
  display: flex;
  justify-content: space-around;
}
html {
  height: 100%;
  body {
    height: 100%;
    width: 100%;
    app-root {
      height: 100%;
      width: 100%;
      app-splash {
        height: 100%;
        width: 100%;
        background-color: blue;
      }
    }
  }
}

.container{
  padding: 15px;
}
//
// h1, h2, h3 {
//   @include barber-font1;
//   font-family: 'Jaapokki', sans-serif;
//   text-transform: capitalize;
// }
